*{
    
    
    margin: 0;
    padding: 0;
}
#nav-bar{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    
    height: 90px;
}

.nav-logo{
    background-image: url(./cropped-cropped-aloa-1-125x42_90x.png);
    width:90px;
    height: 30px;
    background-size: cover;
}
.nav-menu{
   text-transform: uppercase;
   width:70%;

}
.nav-menu a{
    margin-left: 35px;
    text-decoration: none;
    color: black;
}
.nav-menu :hover{
    text-decoration: underline;
    color: black;
}
.nav-selector svg{
    padding-left: 20px;
}
.nav-selector{
    
}
.nav-selector :hover{
    transform: scale(1.1);
}
#main-pic{
    background-image: url(./1shopify-cover_1500x.webp);
background-size: cover;
width: 99%;
height: 500px;
}
#explore{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:80px;}
    #explore button{
        margin-top: 40px;
        padding-top:18px;
        padding-bottom: 18px;
        padding-right: 38px;
        padding-left: 38px;
        background-color: white;
        border: thin 0.1px;
        transition: border-width 0.3s ease;
        
    }
#explore button:hover{
    border:solid, black;
    border-width: 3px;}
    .new-arrival{
    font-size: xx-large;
        font-weight: 800;
        margin-top: 100px;
        margin-left: 40px;
    }
.cardstype{
    display: flex;
    justify-content: space-evenly;
}
    

 .card-img-top{
    padding-left: 12px;
    width: 258.3px;
    height: 258px;
    display: flex;
    
}
    .card-img-top:hover{
        transform: scale(1.2);
        cursor:grab;
    }
    
    
    
 
 .card-text{
    padding-left: 12px;
    padding-top: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: smaller;
 }
 .cardtype2{
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
 } 
.cardtype3{
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
}
.button{
    margin-left: 550px; ;
    margin-top: 50px;
    padding-top:18px;
        padding-bottom: 18px;
        padding-right: 38px;
        padding-left: 38px;
        background-color: black;
        color: white;
        transition: all 0.3s ease;
}
.button:hover{
    transform: scale(1.1);
}
h2{
    margin-left: 40px;
    
}
.card2{
    display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: auto auto;
            gap: 20px;
            padding: 20px;
} 
.card-img-top2{
    margin-top: 4px;
    margin-left: 2px;
    width: 800px;
    height: 960px;
    grid-column: 2;
    grid-row: 1 / span 2;
    padding: 20px;
    
    
    
    text-align: center;
    grid-column: 1;
    grid-row: auto;
}
.card-img-top3{
  margin-left: 520px; 
  margin-top: 22px;
  width: 390px;
}
.card-text2{
    margin-left: 21px;}
    .card-img-top4{
        margin-left: 520px; 
  margin-bottom: 10px;
  width: 390px;
  height: 420px;
    }
  .card3{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
  }   
.card-img-top5{
    margin-top: 4px;
    margin-left: 2px;
    width: 800px;
    height: 960px;
    grid-column: 2;
    grid-row: 1 / span 2;
    padding: 20px;
    
    
    
    text-align: center;
    grid-column: 1;
    grid-row: auto;
}
.card-img-top6{
    margin-left: 520px; 
  margin-top: 23px;
  width: 390px;
}
.card-img-top7{
    margin-left: 520px; 
  margin-bottom: 40px;
  width: 390px;
  height: 420px;
}
.card-text3{
    margin-left: 21px;
}
.cardtype{
display: flex;
justify-content: space-evenly;}
.card-img-top{
    padding-left: 12px;
    width: 258.3px;
    height: 258px;
    display: flex;
}
.card-text{
    padding-left: 12px;
    padding-top: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: smaller;
}
.last{
    position: relative;
            display: inline-block;
}
img{
    
    width: 1290px;
    height: 500px;
    margin-top: 40px;
    display: block;
    
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.overlay:hover{
    transform: scale(1.1);
}
.last-navbar{
    margin-left: 90px;
    margin-top: 60px;
}
.last-navbar ul li a{

color: #0000009E;
margin-top: 20px;
}
.last-navbar p{
    padding-bottom: 20px;
}
.last-navbar ul li{
    text-decoration: none;
    padding-top: 20px;
}
.last-navbar ul li a:hover{
    text-decoration: underline black;
    color: black;
}



    

    
    

    



